{% extends 'bogames/base.html' %}
{% load static apptags %}
{% block page_title %}Boat Fight! It's a lot like Battelship.{% endblock %}

{% block navbrand %}
	<a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'bogames_landingpage' %}{% else %}{% url 'borkle_about' %}{% endif %}">
	<img id="header-image" src="{% static 'images/favicon-large.png' %}" />Boat Fight!</a>
{% endblock %}

{% block game_navigation %}
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'bogames_landingpage' %}">BoGames</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'boatfight_dashboard' %}">Dashboard</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'boatfight_start' %}">New game</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{%url 'session_manager_logout' %}">Log out</a>
	</li>
{% endblock %}