{% extends 'boatfight/base.html' %}
{% load static apptags %}
{% block page_title %}Borkle! It's a lot like Farkle.{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/boatfight/boatFightUtils.js' %}"></script>
	<script src="{% static 'js/boatfight/boatFightSetup.js' %}"></script>
{% endblock %}

{% block extra_css %}
	<link href="{% static 'css/boatfight.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
	<div id="js-urls">
		<input type='hidden' id='boatfight-setup-url' value='{% url "boatfight_game" game_uuid=game.uuid %}' />
	</div>
	<div class="row">
		<div class="col align-right">
			<div id="ready-button" class="hidden"><button id="ready" class="game-btn">Ready!</button></div>
			<div id="lock-button" class="hidden"><button id="lock" class="game-btn">Place Boat</button></div>
			<div id="flip-button" class="hidden"><button id="flip" class="game-btn">Flip Orientation</button></div>
		</div>
		<div class="col">
			<div class="boatfight-boats">
				{% for boat_label, boat in boats_to_place.items %}
					<div id="{{boat_label}}" class="boatfight-boats_boat boatfight-boats_{{boat_label}} boat-to-place" data-boat-size="{{boat.units}}">
						{% if boat.image %}
							<img src="{% static boat.image %}" />
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row" id="boatfight">
		<div class="col">
			<div id="boatfight_placement-board" class="as-table boatfight_placement-board">
				{% for y in y_axis %}
					<div class="as-row" id="y-{{y}}">
						{% for x in x_axis %}
							<div class="as-td boatfight_gamecell boatfight_gamecell__available" id="{{x}}-{{y}}" data-y="{{y}}" data-x="{{x}}"></div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="boatpart-image-cache" class="hidden">
		{% for boat_label, boat in boats_to_place.items %}
			{% for source in boat.image_map %}
				<img id="{{boat_label}}-{{forloop.counter}}" class="boat-part" src="{% static source %}" />
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}