{% extends 'boatfight/base.html' %}
{% load static apptags %}

{% block extra_js %}
	<script src="{% static 'js/boatfight/boatFightUtils.js' %}"></script>
	<script src="{% static 'js/boatfight/boatFightPlay.js' %}"></script>
{% endblock %}

{% block extra_css %}
	<link href="{% static 'css/boatfight.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
	<div id="js-urls">
		<input type='hidden' id='boatfight-setup-url' value='{% url "boatfight_api" game_uuid=game.uuid api_target="boardsetup" %}' />
		<input type='hidden' id='boatfight-status-url' value='{% url "boatfight_api" game_uuid=game.uuid api_target="gamestatus" %}' />
		<input type='hidden' id='boatfight-fire-url' value='{% url "boatfight_api" game_uuid=game.uuid api_target="fire" %}' />
		<input type="hidden" id="available-shots" value={{available_shots}} />
	</div>
		<div class="row winner-data hidden" id="winner">
			<div class="big-message" id="winner-data"></div>
		</div>
		<div class="row">
			<div class="col">
					<div id="boatfightboard_player" class="as-table boatfight_placement-board boatfightboard_player">
						{% for y in y_axis %}
							<div class="as-row" id="y-{{y}}">
								{% for x in x_axis %}
									<div class="as-td boatfight_gamecell boatfight_gamecell__local" id="{{x}}-{{y}}" data-y="{{y}}" data-x="{{x}}"></div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
			</div>
			<div class="col">
					<div id="boatfightboard_opponent" class="as-table boatfight_placement-board boatfightboard_opponent">
						{% for y in y_axis %}
							<div class="as-row" id="y-{{y}}">
								{% for x in x_axis %}
									<div class="as-td boatfight_gamecell boatfight_gamecell available" id="{{x}}-{{y}}" data-y="{{y}}" data-x="{{x}}"></div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<div id="current-turn-tools" class="game-stats">
						<button id="fire" class="game-btn" disabled>Fire!</button>
						<div id="game-stats"></div>
					</div>
			</div>
		</div>
{% endblock %}