{% extends 'boatfight/base.html' %}
{% load static boatfighttags %}

{% block extra_js %}
	<script src="{% static 'js/boatfight/boatFightUtils.js' %}"></script>
	<script src="{% static 'js/boatfight/boatFightPlay.js' %}"></script>
{% endblock %}

{% block main_content %}
	<div id="js-urls">
		<input type='hidden' id='boatfight-setup-url' value='{% url "boatfight_api" game_uuid=game.uuid api_target="boardsetup" %}' />
		<input type='hidden' id='boatfight-status-url' value='{% url "boatfight_api" game_uuid=game.uuid api_target="gamestatus" %}' />
		<input type='hidden' id='boatfight-fire-url' value='{% url "boatfight_api" game_uuid=game.uuid api_target="fire" %}' />
		<input type="hidden" id="available-shots" value={{available_shots}} />
		<input type="hidden" id="game-type" value={{game.game_type}} />
	</div>
	<div class="row winner-data hidden" id="winner">
		<div class="big-message" id="winner-data" style="margin: 0 auto; padding-top: 1.5rem;"></div>
	</div>
	<div class="row">
		<div class="col align-center"><h4>Boat Fight: {{game.game_type}}</h4></div>
	</div>
	<div class="row">
		<div class="col">
			<div class="boatfight-gameboard boatfight-gameboard_smaller">
				<div class="boatfight-board-component"><h5>{{player.username}}</h5></div>
				<div id="boatfightboard_player" class="as-table boatfight_placement-board boatfightboard_player">
					{% for y in y_axis %}
						<div class="as-row" id="y-{{y}}">
							{% for x in x_axis %}
								<div class="as-td boatfight_gamecell boatfight_gamecell__local" id="{{x}}-{{y}}" data-y="{{y}}" data-x="{{x}}"></div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col">
			<div class="boatfight-gameboard boatfight-gameboard_bigger">
				<div class="boatfight-board-component"><h5>{{opponent.username}}</h5></div>
				<div id="boatfightboard_opponent" class="as-table boatfight_placement-board boatfightboard_opponent">
					{% for y in y_axis %}
						<div class="as-row" id="y-{{y}}">
							{% for x in x_axis %}
								<div class="as-td boatfight_gamecell boatfight_gamecell available" id="{{x}}-{{y}}" data-y="{{y}}" data-x="{{x}}"></div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				<div id="current-turn-tools" class="boatfight-board-component game-stats">
					<button id="fire" class="game-btn" disabled>Fire!</button>
					<div id="game-stats"></div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="leave-game">		
		<a href="{% url 'boatfight_leave_game' game_uuid=game.uuid %}"><button class="btn game-btn game-btn_red">Leave Game</button></a>
	</div>

	<div id="boatpart-image-cache" class="hidden">
		{% for boat_label, boat in boats_to_place.items %}
			{% for source in boat.image_map %}
				<img id="{{boat_label}}-{{forloop.counter}}" class="boat-part {{placement_orientations|boat_orientation_class:boat_label}}" src="{% static source %}" />
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}