#main-content {
	margin-top: 2rem;
}

.big-message {
	font-weight: bold;
	text-align:center;
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.image-cache {
	visibility: hidden;
}

button.game-btn {
	color: #EAEDED;
	background-color: #45B39D;
	border: 1px solid #45B39D;
	border-radius: 1rem;
}
button.game-btn:hover {
	color: #EAEDED;
	background-color: #0E6655;
	border: 1px solid #45B39D;
	border-radius: 1rem;
}
button.game-btn_red {
	background-color: #F95545;
	border: 1px solid #442522;
}
button.game-btn_red:hover {
	background-color: #ff838f;
	border: 1px solid #442522;
}

button#score-selected-dice {
	width: 5rem;
}

img.rolled-dice {
	border: 2px solid #ffffff;
	width: 5rem;
	height: 5rem;
}

img.rolled-dice_selected {
	border: 2px solid green;
	width: 5rem;
	height: 5rem;
}

img.rolled-dice_selectable:hover {
	border: 2px solid orange;
}

img.scored-dice {
	width: 2rem;
	height: 2rem;
}

div.selected-dice-slot_active {
	background-color: #FCF3CF;
	border-radius: 1rem;
	padding: 1rem;
}

div.scored-sets-slots {
	padding-top: 1rem;
}

tr.scoreboard_myscore {
	font-weight: bold;
}

tr.scoreboard_currentplayer {
	background-color: #FEF9E7;
}
tr.player-left-game {
	background-color: #FADBD8;
	text-align: center;
}

div#roll-button {
	margin-bottom: 7rem;
}

.dashboard-row {
	margin-bottom: 3rem;
}

#dashboard-game-categories .card {
	margin-bottom: .75rem;
}

.margin_t75 {
	margin-top: .75rem;
}

.btn-long {
	min-width: 25rem;
}