#main-content {
	margin-top: 2rem;
}

.big-message {
	font-weight: bold;
	text-align:center;
}

.winner-data {
    background-color: #a1ecdd;
    border-radius: 8px;
    height: 5rem;
    margin-left: .2rem;
    margin-right: .2rem;
}

#winner-data {
	margin: auto 0;
}

.image-cache {
	visibility: hidden;
}

.hidden {
	display: none;
}
.centered {
	text-align: center;
}

#game-tools {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.game-btn {
	color: #EAEDED;
	background-color: #45B39D;
	border: 1px solid #45B39D;
	border-radius: 1rem;
	font-weight: bold;
}
button.game-btn:hover {
	color: #EAEDED;
	background-color: #0E6655;
	border: 1px solid #45B39D;
	border-radius: 1rem;
}

button.game-btn_square {
	width: 4.8rem;
	height: 4.8rem;
}
button.game-btn_red {
	background-color: #F95545;
	border: 1px solid #442522;
}
button.game-btn_red:hover {
	background-color: #ff838f;
	border: 1px solid #442522;
}

button.game-btn_long {
	margin: 0 auto;
	width: 13rem;
	height: 4rem;
}

span.span-undo-btn {
	display: inline-block;
	width: 4rem;
}

span.span-score-value {
	display: inline-block;
	min-width: 4rem;
}

.auto-centered {
	display: inline-block;
	margin: auto;
}

img.rolled-dice {
	border: 2px solid #ffffff;
	width: 5rem;
	height: 5rem;
}

img.rolled-dice_selected {
	border: 2px solid green;
	width: 5rem;
	height: 5rem;
}

img.rolled-dice_selectable:hover {
	border: 2px solid orange;
}

table#scoreset_table {
	width: 100%;
}

#selected-dice-score {
	font-weight: bold;
}

img.scored-dice {
	width: 2rem;
	height: 2rem;
}

div.selected-dice-slot_active {
	background-color: #FCF3CF;
	border-radius: 1rem;
	padding: 1rem;
	margin: .5rem 0rem;
}

div.scored-sets-slots {
	padding-top: 1rem;
}

tr.scoreboard_myscore {
	font-weight: bold;
}

tr.scoreboard_currentplayer {
	background-color: #FEF9E7;
}
tr.player-left-game {
	background-color: #FADBD8;
	text-align: center;
}

div#roll-button {
	margin-bottom: 7rem;
}

.dashboard-row {
	margin-bottom: 3rem;
}

#dashboard-game-categories .card {
	margin-bottom: .75rem;
}

.margin_t75 {
	margin-top: .75rem;
}

.btn-long {
	min-width: 25rem;
}

button.scorecard-nav {
	height: 16rem;
	background-color: #B9E3FB;
	border: none;
}

button.scorecard-nav_next {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right-color: #000000;
	border-right-width: 1px;
}

button.scorecard-nav_prev {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
}

