$cell-size: 2rem;
$active-element-color: #FF8D00;
$active-boat-color: #b16234;

#boatfight {
	padding: .5rem;	
}

#winner-data {
	margin: 0 auto;
}

.boatfight-board-component {
	width: 20rem;
	margin: 0 auto;
}

.boatfight_placement-board {
	width: 20rem !important;
	margin: 0 auto;
	border: 1px solid #ffffff;
	&__active {
		border: 1px solid $active-element-color;
	}
	.boatfight_gamecell {
		border: 1px solid #a9a9a9;
		width: $cell-size;
		height: $cell-size;
	}
	.as-row {
		height: $cell-size;
	}
	.filled {
	}
	.pending {
		
	}
}

.boatfight-boats {
	display: inline-block;
	height: $cell-size;
	&_boat {
	}
	&_boat__selected {
		background-color: $active-element-color;
	}
	&_longship {
		width: 10rem;
		img {
			width: 10rem;
			height: 2rem;
		}
	}
	&_knarr {
		width: 8rem;
		img {
			width: 8rem;
			height: 2rem;
		}
	}
	&_karve {
		width: 6rem;
		img {
			width: 6rem;
			height: 2rem;
		}
	}
	&_kraken {
		width: 6rem;
		img {
			width: 6rem;
			height: 2rem;
		}
	}
	&_faering {
		width: 4rem;
		img {
			width: 4rem;
			height: 2rem;
		}
	}
}

img.boat-part {
	width: 1.8rem;
	height: 1.8rem;
	&_vertical {
		transform: rotate(90deg);
	}
	&_hit {
		filter: grayscale(50%);
	}
	&_sunk {
		filter: grayscale(100%);
	}
}
.boatfightboard_opponent {
	.pending {
		background-color: orange;
	}
}


.missed {
	background-color: #00ADFF;
}
.hit {
	background-color: red;
}
.sunk {
	background-color: black;
}

.game-btn:disabled {
	background-color: #222222;
}

.boat-placed {
	img {
		filter: grayscale(100%);
	}
}