body {
  background-image: linear-gradient(to right, #9AC2C9, #9AC2C9, #B9D8C2, #9AC2C9, #9AC2C9);
  font-family: "Noto Sans JP";
}

.error-page-content {
  padding: 5rem;
  font-weight: bold;
  color: #580606;
}
.error-page-content h1 {
  font-size: 1.6rem;
}

.bg-light {
  background-color: transparent !important;
  color: #e2e0e0;
}
.bg-light a {
  font-family: "Noto Sans JP";
  color: #000000 !important;
  font-weight: bold;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar a.navbar-brand {
  font-family: "Nerko One";
  color: #000000 !important;
  font-weight: bold;
  font-size: 2.2rem;
}
.navbar a.navbar-brand img {
  margin-right: 0.3rem;
}

img#header-image {
  width: 2.7rem;
  height: 2.7rem;
}

#about {
  padding: 1.5rem;
  color: #313131;
}

#landingpage {
  padding: 1rem;
}
#landingpage .card {
  width: 10rem;
}
#landingpage .card a.game-card-link {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.session {
  padding: 1.5rem;
}
.session table.table {
  width: 60%;
}

.auto-centered {
  display: inline-block;
  margin: auto;
}

.margin_t75 {
  margin-top: 0.75rem;
}

.margin_t4 {
  margin-top: 4rem;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.messages {
  background-color: #4c4c4a;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.image-cache {
  visibility: hidden;
}

.hidden {
  display: none;
}

.winner-data {
  background-color: #a1ecdd;
  border-radius: 8px;
  height: 5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

#winner-data {
  margin: auto 0;
}

.game-btn {
  color: #000000;
  background-color: #e4ecc4;
  border: 1px solid #676767;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  box-shadow: -1px 1px 3px 0px #7d7c7c;
}
.game-btn:hover {
  color: #EAEDED;
  background-color: #899266;
  border: 1px solid #676767;
  border-radius: 1rem;
}
.game-btn_square {
  width: 6rem;
  height: 6rem;
}
.game-btn_square_small {
  width: 5rem;
  height: 5rem;
}
.game-btn_red {
  background-color: #e85757;
  border: 1px solid #676767;
}
.game-btn_red:hover {
  background-color: #a01f1f;
  border: 1px solid #676767;
}
.game-btn_long {
  margin: 0 auto;
  width: 13rem;
  height: 4rem;
}

.dashboard {
  padding: 2rem;
}
.dashboard h2 {
  float: right;
  font-size: 1rem;
  color: #636262;
}
.dashboard h3 {
  font-size: 1.2rem;
  color: #636262;
}

#game-container {
  background-color: #ffffff;
  padding: 0.5rem 0 1rem 0;
  border-radius: 20px;
  margin-bottom: 1rem;
}
#game-container form {
  padding: 1rem;
}
#game-container form th {
  width: 40%;
}
#game-container form input {
  max-width: 9rem;
}
@media (min-width: 768px) {
  #game-container form input {
    max-width: 12rem;
  }
}

#play-board {
  min-height: 7rem;
  width: 95%;
}
@media (min-width: 768px) {
  #play-board {
    width: 75%;
  }
}
@media (min-width: 768px) {
  #play-board {
    width: 60%;
  }
}

.as-table {
  display: table;
  width: 100%;
}
.as-table .as-tr {
  display: table-row;
}
.as-table .as-td {
  display: table-cell;
  vertical-align: top;
}
.as-table .as-td_scorecard-nav {
  width: 1.75rem;
}
.as-table .as-td_w70 {
  width: 70%;
}

.big-message {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0;
}
.big-message_highlighted {
  background-color: #fce8a5;
}
.big-message_bordered {
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

.leave-game {
  margin-top: 2rem;
  text-align: center;
}

/*# sourceMappingURL=bogames.css.map */
