{% extends 'borkle/base.html' %}
{% load static apptags %}
{% block extra_js %}
	<script src="{% static 'js/gameUtils.js' %}"></script>
	<script src="{% static 'js/nav.js' %}"></script>
	<script src="{% static 'js/dice.js' %}"></script>
	<script src="{% static 'js/elementToggle.js' %}"></script>
	<script src="{% static 'js/rollDice.js' %}"></script>
	<script src="{% static 'js/play.js' %}"></script>
{% endblock %}

{% block main_content %}
	<span id="js-api-urls">
		<input type="hidden" id="static-url" value="{% static '' %}" />
		<input type="hidden" id="api-gameinfo-url" value="{% url 'game_api' game_uuid=game.uuid api_target='gameinfo' %}" />
		<input type="hidden" id="api-diceboard-url" value="{% url 'game_api' game_uuid=game.uuid  api_target='diceboard' %}" />
		<input type="hidden" id="api-scorecard-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scorecard' %}" />
		<input type="hidden" id="api-scoreboard-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scoreboard' %}" />
		<input type="hidden" id="api-scoredice-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scoredice' %}" />
		<input type="hidden" id="api-undoselection-url" value="{% url 'game_api' game_uuid=game.uuid api_target='undoselection' %}" />
		<input type="hidden" id="api-rolldice-url" value="{% url 'game_api' game_uuid=game.uuid api_target='rolldice' %}" />
		<input type="hidden" id="api-borkle-url" value="{% url 'game_api' game_uuid=game.uuid api_target='borkle' %}" />
		<input type="hidden" id="api-endturn-url" value="{% url 'game_api' game_uuid=game.uuid api_target='endturn' %}" />
		<input type="hidden" id="api-scorecardsetup-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scorecardsetup' %}" />
		<input type="hidden" id="latest-scorecard-turn" value="0" />
	</span>	
	<div id="scoreboard">
		<div class="game-header">
			{% if game.game_type == 'practice' %}
				<h1>Practice Game</h1>
				<h1>{{game.code_name}}</h1>
			{% else %}
				<h1>Codename</h1>
				<h1>{{game.code_name}}</h1>
				<h5>Players</h5>
			{% endif %}
		</div>
	</div>
	<div>
		<table class="table shrink-at-md" id="scoreboard">
			{% for player in game.gameplayer_set.all %}
			<tr id="scoreboard-player_{{player.username}}" data-player-name="{{player.username}}" class="player-score {% if player == gameplayer %}scoreboard_myscore {% endif %}">
				<td>{{player.player.user.username}}:</td>
				<td class="scoreboard-player-score" id="scoreboard-player-score_{{player.username}}">{{player.total_score}}</td>
				<td>/</td>
				<td>{{game.max_score}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>

	{# Current Turn Stats #}
	<div class="hidden centered big-message" id="current-score">You have <span id="current-score-value">0</span> points this turn</div>
	<div class="hidden centered big-message" id="available-dice">You have <span id="available-dice-value"></span> dice to roll</div>

	{# Last turn message  #}
	<div class="big-message hidden shrink-at-md" id="last-turn-message"></div>

	{# Borkled turn over message #}
	<div class="big-message hidden shrink-at-md" id="borkle-message"></div>

	{# Game over winner stats #}
	<div class="winner-data hidden">
		<div class="big-message col" id="winner-data"></div>
	</div>

	<div id="play-board" class="as-table  shrink-at-md">
		{# Roll and end turn buttons #}
		<div class="as-tr">
			<div class="as-td col-game-buttons">
				<table id="game-button-table" class="table_active">
					<tr>
						<td>
							<button class="game-btn  game-btn_square hidden" data-dice-count="6" id="rolldice">Roll<br />dice</button>
						</td>
					</tr>
					<tr><td></td></tr>
					<tr>
						<td>
							<button class="game-btn game-btn_red game-btn_square hidden" id="advanceplater">End<br />turn</button>		
						</td>
					</tr>
				</table>
			</div>

			{# Rolled Dice table #}
			<div class="as-td col-game-dice" id="rolled-dice"> {# Dice Table #}
				<table id="dice-table">
					<tr id="slots-6-5">
						<td id="slot-rolled_dice_6_value"></td>
						<td id="slot-rolled_dice_5_value"></td>
					</tr>
					<tr id="slots-4-3">
						<td id="slot-rolled_dice_4_value"></td>
						<td id="slot-rolled_dice_3_value"></td>
					</tr>
					<tr id="slots-2-1">
						<td id="slot-rolled_dice_2_value"></td>
						<td id="slot-rolled_dice_1_value"></td>
					</tr>
				</table>
			</div>
		</div>

		{# Active selected dice #}
		<div class="as-tr">
			<div id="selected-dice-slot" class="selected-dice-slot_active">
				<div class="as-table">
					<div class="as-tr">
						<div class="as-td as-td_w70">
							<div class="" id="selected-dice-images"></div>
						</div>
				         <div class="as-td">
					        <div class="hidden" id="score-dice-btn-row">
						        <button class="game-btn game-btn_red game-btn_square_small" id="score-selected-dice">Keep Dice</button>
					        </div>
							<div id="selected-dice-score" class=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# Active turn scored sets #}
		<div id="scored-sets-slots">
			<div class="col" id="scored-sets">
			</div>
		</div>

	</div>

	{# Whole game scorecards #}
	<div class="as-table shrink-at-md">
		<div class="as-tr">
			<div class="as-td">
				<hr />
				<h5>Score Cards</h5>
			</div>
		</div>
	</div>
		
	<div class="as-table shrink-at-md">
		<div class="as-tr">
			<div class="as-td as-td_scorecard-nav">
				<button id="scorecard-nav_prev" class="scorecards-td scorecard-nav scorecard-nav_prev" data-target-attr='data-prev-player'><</button>
			</div>
			<div class="as-td">
				{% for player in game.gameplayer_set.all %}
					<div id="score-card-log_{{player.username}}" class="{% if forloop.first %} scorecard-nav_active{% else %} hidden{% endif %}" id="score-card-log_{{player.username}}" data-next-player="" data-prev-player="">
						<input type="hidden" id="player-turn-index_{{player.username}}" value="0" />
						<input type="hidden" id="player-turn-roll_{{player.username}}" value="1" />
						<table class="table" id="scorecard_{{player.username}}">
							<tr><td><th>{{player.username}}</th></td></tr>
							<tbody id="tbody-scorecard_{{player.username}}"></tbody>
						</table>
					</div>
				{% endfor %}
			</div>
			<div class="as-td align-right">
				<button id="scorecard-nav_next" class="scorecard-nav scorecard-nav_next" data-target-attr='data-next-player'>></button>
			</div>
		</div>
	</div>

	{# Leave game buttons #}
	<div class="leave-game">
		{% if game.game_type == 'practice' %}
			<a href="{% url 'game_cancel' game_uuid=game.uuid %}?src=game"><button class="btn btn-danger">Cancel Game</button></a>
		{% else %}
			<a href="{% url 'leave_game' game_uuid=game.uuid %}"><button class="btn game-btn game-btn_red">Leave Game</button></a>
		{% endif %}
	</div>

<div class="image-cache" id="rolled-dice-cache" style="display: none;">
	{% for img in rolled_dice_cache %}
		{{img|safe}}
	{% endfor %}
</div>
<div class="image-cache" id="scored-dice-cache" style="display: none;">
	{% for img in scored_dice_cache %}
		{{img|safe}}
	{% endfor %}
</div>
{% endblock %}