{% extends 'borkle/base.html' %}
{% load static apptags %}
{% block extra_js %}
	<script src="{% static 'js/utils.js' %}"></script>
	<script src="{% static 'js/dice.js' %}"></script>
	<script src="{% static 'js/elementToggle.js' %}"></script>
	<script src="{% static 'js/rollDice.js' %}"></script>
	<script src="{% static 'js/gameFunctions.js' %}"></script>
	<script src="{% static 'js/play.js' %}"></script>
{% endblock %}

{% block main_content %}
	<input type="hidden" id="static-url" value="{% static '' %}" />
	<input type="hidden" id="api-gameinfo-url" value="{% url 'game_api' game_uuid=game.uuid api_target='gameinfo' %}" />
	<input type="hidden" id="api-diceboard-url" value="{% url 'game_api' game_uuid=game.uuid  api_target='diceboard' %}" />
	<input type="hidden" id="api-scorecard-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scorecard' %}" />
	<input type="hidden" id="api-scoreboard-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scoreboard' %}" />
	<input type="hidden" id="api-scoredice-url" value="{% url 'game_api' game_uuid=game.uuid api_target='scoredice' %}" />
	<input type="hidden" id="api-undoselection-url" value="{% url 'game_api' game_uuid=game.uuid api_target='undoselection' %}" />
	<input type="hidden" id="api-rolldice-url" value="{% url 'game_api' game_uuid=game.uuid api_target='rolldice' %}" />
	<input type="hidden" id="api-borkle-url" value="{% url 'game_api' game_uuid=game.uuid api_target='borkle' %}" />
	<input type="hidden" id="api-endturn-url" value="{% url 'game_api' game_uuid=game.uuid api_target='endturn' %}" />
	<input type="hidden" id="latest-scorecard-turn" value="0" />

	<div class="row" id="scoreboard">
		<div class="col">
			{% if game.game_type == 'practice' %}
				<h4>Practice Game: {{game.code_name}}</h4>
			{% else %}
				<h4>Game codename: {{game.code_name}}</h4>
				<h5>Players</h5>
			{% endif %}
			<table class="table" id="scoreboard">
				{% for player in game.gameplayer_set.all %}
				<tr id="scoreboard-player_{{player.username}}" data-player-name="{{player.username}}" class="player-score {% if player == gameplayer %}scoreboard_myscore {% endif %}">
					<td>{{player.player.user.username}}:</td>
					<td class="scoreboard-player-score" id="scoreboard-player-score_{{player.username}}">{{player.total_score}}</td>
					<td>/</td>
					<td>{{game.max_score}}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	<div id="diceboard">
		<div class="row">
			<div class="col hidden centered" id="current-score">You have <span id="current-score-value">0</span> points this turn</div>
		</div>
		<div class="row">
			<div class="col hidden centered" id="available-dice">You have <span id="available-dice-value"></span> dice to roll</div>
		</div>
		<div class="row hidden" id="row-borkle-message">
			<div class="col">
				<div class="big-message hidden" id="borkle-message">
				</div>
			</div>
		</div>
		<div class="row" id="game-tools">
			<div class="col-3"></div>
			<div class="col-8">
				<div class="row">
					<div class="col-5" id="roll-dice-btn">
						<button class="game-btn  game-btn_square hidden" data-dice-count="6" id="rolldice">Roll<br />dice</button>
					</div>
					<div class="col-5" id="game-tools-and-messages">
						<button class="game-btn game-btn_red game-btn_square hidden" id="advanceplater">End<br />turn</button>		
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden" id="row-last-turn-message">
			<div class="col">
				<div class="big-message hidden" id="last-turn-message">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-8" id="rolled-dice">
				<div class="row">
					<div class="col-5" id="slot-rolled_dice_1_value"></div>
					<div class="col-5" id="slot-rolled_dice_2_value"></div>
				</div>
				<div class="row">
					<div class="col-5" id="slot-rolled_dice_3_value"></div>
					<div class="col-5" id="slot-rolled_dice_4_value"></div>
				</div>
				<div class="row">
					<div class="col-5" id="slot-rolled_dice_5_value"></div>
					<div class="col-5" id="slot-rolled_dice_6_value"></div>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row" id="selected-dice-slot" class="selected-dice-slot_active">
			<div class="col-4">
				<div id="selected-dice-score" class=""></div>
			</div>
			<div class="col" id="selected-dice-images"></div>
		</div>

		<div class="row hidden" id="score-dice-btn-row">
			<button class="game-btn game-btn_long" id="score-selected-dice">Score selected dice</button>
		</div>

		<div class="row" id="scored-sets-slots">
			<div class="col" id="scored-sets">
			</div>
		</div>
		<div class="row">
			<div class="col-8" id="opponent-rolled-dice">
				<div class="row">
					<div class="col-4" id="opponent-rolled_dice_1_value"></div>
					<div class="col-4" id="opponent-rolled_dice_2_value"></div>
				</div>
				<div class="row">
					<div class="col-4" id="opponent-rolled_dice_3_value"></div>
					<div class="col-4" id="opponent-rolled_dice_4_value"></div>
				</div>
				<div class="row">
					<div class="col-4" id="opponent-rolled_dice_5_value"></div>
					<div class="col-4" id="opponent-rolled_dice_6_value"></div>
				</div>
			</div>
			<div class="col" id="opponent-scored-sets"></div>
		</div>
		<div class="row">
			<div class="col" id="opponent-selected-dice"></div>
		</div>
	</div>
	<div class="row">
		<div class="big-message col hidden" id="winner-data"></div>
	</div>
	<div class="row">
		<div class="col"><hr /></div>
	</div>
	<div class="row">
		<div class="col"><h5>Score Cards</h5></div>
	</div>
	<div class="row" id="score-card-log">
		{% for player in game.gameplayer_set.all %}
		<input type="hidden" id="player-turn-index_{{player.username}}" value="0" />
		<input type="hidden" id="player-turn-roll_{{player.username}}" value="1" />
		<div class="col">
			{{player.username}}
			<table class="table" id="scorecard_{{player.username}}">
			</table>
		</div>
		{% endfor %}
	</div>

	
	<div class="row">
		{% if game.game_type == 'practice' %}
			<div class="col" id="leavegame">
				<a href="{% url 'game_cancel' game_uuid=game.uuid %}?src=game"><button class="btn btn-danger">Cancel Game</button></a>
			</div>
		{% else %}
		<div class="col" id="leavegame">
			<a href="{% url 'leave_game' game_uuid=game.uuid %}"><button class="btn btn-danger">Leave Game</button></a>
		</div>
		{% endif %}
	</div>
<div class="image-cache" id="rolled-dice-cache" style="display: none;">
	{% for img in rolled_dice_cache %}
		{{img|safe}}
	{% endfor %}
</div>
<div class="image-cache" id="scored-dice-cache" style="display: none;">
	{% for img in scored_dice_cache %}
		{{img|safe}}
	{% endfor %}
</div>
{% endblock %}