{% extends 'borkle/base.html' %}
{% load static %}

{% block main_content %}
<div class="row">
	<div class="col">
		
	</div>
	<div class="col-8">
		{% if is_tie %}
			<h3>It's a tie! the winners are:
			{% for win in winners %}
			{{winner.username}} got {{winner.total_score}}
			{% endfor %}
			</h3>
		{% else %}
			<h3>The winner is {{winners.0.username}}! {{winners.0.username}} got {{winners.0.total_score}} points!</h3>
		{% endif %}
	</div>
	<div class="col"></div>
</div>

<div class="margin_t75 row">
	<div class="col">
		<h4>Score Card</h4>
	</div>
</div>
<div class="margin_t75">
	{% include 'borkle/gameboard_includes/historyboard.html' with game=game %}
</div>
{% endblock %}