{% load apptags %}

{% with player.all_games as games %}
	<div id="dashboard-game-categories" class="row">
		<div class="col">	
			
			<h3>Active Games</h3>
			{% if games.active %}
				{% for game in games.active %}
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">codename: {{game.code_name}}</h5>
				    	<h6 class="card-subtitle mb-2">{{game.current_player.username}}'s turn!</h6>
				    	{% for gp in game.gameplayer_set.all %}
				    		{% if gp != game.current_player %}
								<h6 class="card-subtitle mb-2 text-muted">{{gp.player.user.username}}</h6>
				    		{% endif %}
						{% endfor %}
					    <a href="{% url 'game_board' game_uuid=game.uuid %}" class="card-link"><button class="game-btn">Go to game</button></a>
					  </div>
					</div>
				{% endfor %}
			{% else %}
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">No active games</h5>
				    <p><a href="{% url 'initialize_game' %}"><button class="btn btn-success">Start a game</button></a></p>
				  </div>
				</div>
			{% endif %}

		</div>

		{% if games.pending %}
			<div class="col">
				<h3>Pending Games</h3>
					{% for game in games.pending %}
						<div class="card" style="width: 18rem;">
						  <div class="card-body">
						    <h5 class="card-title">codename: {{game.code_name}}</h5>

							{% for gp in game.gameplayer_set.all %}
								{% if gp.ready %}
									<h6 class="card-subtitle mb-2 text-muted">{{gp.player.user.username}}: ready!</h6>
								{% else %}
									<h6 class="card-subtitle mb-2 text-muted">{{gp.player.user.username}}: waiting</h6>
								{% endif %}
							{% endfor %}
					    	<a href="{% url 'game_board' game_uuid=game.uuid %}" class="card-link"><button class="game-btn">Go to game</button></a>
							{% if player == game.created_by %}
								<a href="{% url 'game_cancel' game_uuid=game.uuid %}"><button class="game-btn game-btn_red">Cancel game</button></a>
							{% endif %}
						  </div>
						</div>
					{% endfor %}
			</div>
		{% endif %}
		{% if games.invitations %}
			<div class="col">
				<h3>Game Invitations</h3>
				{% for game in games.invitations %}
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">codename: {{game.code_name}}</h5>
					    <h6 class="card-subtitle mb-2 text-muted">Invited by {{game.created_by.user.username}}</h6>
					    <a href="{% url 'game_accept_invitation_link' game_uuid=game.uuid %}" class="card-link">
					    	<button class="game-btn">Join Game</button></a>
					    <a href="{% url 'game_decline_invitation_link' game_uuid=game.uuid %}" class="card-link">
					    	<button class="game-btn game-btn_red">Decline Game</button></a>
					  </div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% comment %}
		{% if games.completed %}
			<div class="col">
				<h3>Game History</h3>
				{% for game in games.completed %}
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					  		<h5 class="card-title">codename: {{game.code_name}}</h5>
							{% for winner in game.winner %}
					    		<h6 class="card-subtitle mb-2 text-muted">winner: {{winner.username}} {{winner.total_score}} points</h6>
					    	{% endfor %}
					    	<a href="{% url 'game_history' game_uuid=game.uuid %}" class="card-link"><button class="game-btn">Score card</button></a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% endcomment %}
	</div>
{% endwith %}